/* === Generelle Einstellungen === */

:root {
--theme-color-1: #fbeefb; /* Hintergrund */
--theme-color-2: #525252; /* Nav1 und Footer Hintergrund */
--theme-color-3: #f3d5f3; /* Nav2 und Überschriften */
--theme-color-4: #ffcffc; /* Divs (e.g. Produkt und Kategorie auf Main Page) */
--theme-color-5: #ffe6fc; /* Andere Divs */
--theme-color-6: #fcf4f4; /* Hintergrundfarbe für Input Felder*/
--font-color: #0c0b0c;    /* Schriftfarbe */
--font-color-2: #f0f0f0;  /* Schriftfarbe (Header und Footer) */
--font-color-3: #003003;  /* Schriftfarbe für große Überschriften (Komplementär)*/
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Schriftart muss abgesprochen werden */
    margin: 0 !important;
    overflow-x: hidden;
    background-color: var(--theme-color-1);
    box-sizing: border-box;
}

p {
    color: var(--font-color);
}

button {
    background-color: #ffb8ff;
    color: var(--font-color-2);
    border-radius: 10px;
    display: block;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.trennlinie {
    border-bottom: 2px solid black
}


/* === Mainpage === */
#kategorien > .container > .row {
    margin-left: auto;
    margin-right: auto;
}
.row > .kategorie {
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    background-color: var(--theme-color-4);
    border: 2px solid black;
    border-radius: 35px;
}

#kategorien-und-produkte img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#kategorien-und-produkte p {
    text-align: center;
}

#kategorien-und-produkte h2 {
    text-align: center;
}

#bestseller-headline {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--theme-color-3);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2.7rem;
}

.row > .produkt {
    border: 2px solid black;
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    background-color: var(--theme-color-4);
    border: 2px solid black;
    border-radius: 5px;
}
/* === Footer ===*/
#footer-default
{
    margin-top: 150px;
    background-color: var(--theme-color-2);
    color: var(--font-color-2);
}
#footer-default img {
    margin-top:52px;
}
#footer-default a 
{
    color:var(--font-color-2);
}

.footer-links{
    margin-top: 25px;
    display: block;
}

#contact
{
margin-top: 50px;
}


/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.col-0-5
{
    width: 8.333%;
}

.col-1 {
    width: 16.666%
}

.col-1-5{
    width: 25%;
}

.col-2 {
    width: 33.333%
}

.col-3 {
    width: 50%
}

.col-4 {
    width: 66.666%
}

.col-6 {
    width: 100%
}

/* === Login Page === */

.login-div{
	text-align: center;
	border: 2px solid var(--font-color-3);
	border-radius: 5px;
	max-width: 250px;
	min-width: 200px;
	margin: 0 auto;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;

	background-color: var(--theme-color-4);
}

#login-page-link:link{
	text-decoration: none;
}


#login-button{
	margin: 10px auto 10px auto;
	border: 1px solid var(--theme-color-2);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

#login-button:hover {
	background-color: #dea2de;
	transition: ease-in-out .2s;
}

#login-form{
	margin: 0 auto;
}

#login-form > input{
	max-width: 150px;
	margin-top: 2%;
	margin-bottom: 5%;
	border: 2px solid grey;
	border-radius: 3px;
}

/* === PRODUKT-SEITE === */
#eigenschafts-tabelle {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 80%;
    border-collapse: collapse;
}

#eigenschafts-tabelle tr {
    border-bottom: 2px solid black;
}

#eigenschafts-tabelle td {
padding-top: 1.5rem;
}

#produkt-bild {
    width: 70%;
    height: auto;
    float: right;
    margin-right: 10%;
}

#preis-section {
    padding: 10px
}
#preis-section p {
    font-size: 1.3rem;
}

#bestell-section {
    border: 2px solid black;
}
#bestell-form p, #bestell-form label {
    width: 60%;
    padding-left: 10%;
    margin-bottom: 50px;
    margin-top: 10px
}

#cart-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top:50px;
    border-radius: 5px;
    width: 45%;
    height: 30px;
    background-color: yellow;
    color: var(--font-color);
    border: 2px solid gainsboro
}