/* === GENERELLE-EINSTELLUNGEN === */

:root {
  --theme-color-1: #fefdfb;
  /* Hintergrund */
  --theme-color-2: #47257b;
  /* Nav1 und Footer Hintergrund */
  --theme-color-3: #960099;
  /* Nav2 und Überschriften */
  --theme-color-4: #ffe2fa;
  /* Divs (e.g. Produkt und Kategorie auf Main Page) */
  --theme-color-5: #ffe6fc;
  /* Andere Divs */
  --theme-color-6: #fcf4f4;
  /* Hintergrundfarbe für Input Felder*/
  --font-color: #610e61;
  /* Schriftfarbe */
  --font-color-2: #f0f0f0;
  /* Schriftfarbe (Header und Footer) */
  --font-color-3: #003003;
  /* Schriftfarbe für große Überschriften (Komplementär)*/
  --border-color: #eeedeb;
  /* Schriftfarbe für Border */
  --cancer-color: #fff;
  /* Farbe für Kategorien */
  --header-color: #f4eeee;
  /* Farbe für den Header*/
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Schriftart muss abgesprochen werden */
  margin: 0 !important;
  overflow-x: hidden;
  background-color: var(--theme-color-1);
  box-sizing: border-box;
}

p {
  color: var(--font-color);
}

select:hover {
  cursor: pointer;
}

button {
  background-color: var(--theme-color-3);
  color: var(--font-color-2);
  border-radius: 10px;
  display: block;
  transition: ease-in-out 0.2s;
  font-weight: bold;
}

button:hover {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  background-color: var(--theme-color-6);
  color: var(--font-color);
}

h1 {
  text-align: center;
}

a {
  color: var(--font-color-3);
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

a:hover {
  transition: ease-in-out 0.2s;
  color: var(--theme-color-2);
}

.trennlinie {
  border-bottom: 2px solid var(--border-color);
}

input {
  border-color: var(--font-color);
  border-style: solid;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--theme-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color-3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-4);
}

.boxlinks {
  border: 2px solid var(--border-color);
  margin-bottom: 20px;
  text-align: center;
  width: 20%;
  margin-right: 40px;
}

.boxrechts {
  border: 2px solid var(--border-color);
  margin-bottom: 20px;
  width: 20%;
  margin-left: 40px;
  margin-right: auto;
}

/* === HEADER === */

header > .container {
  width: 100%;
}

header .col-6 {
  padding: 0;
}

#top-bar {
  width: 100%;
  height: 90px;
  background-color: var(--header-color);
}

#header-logout-button {
  float: left;
  margin-left: 15px;
  height: 50px;
  margin-top: 15px;
  color: var(--font-color);
  width: 100px;
}

#header-logout-button:hover {
  color: var(--font-color-2);
  animation: logout 0.2s;
  background: #24dbff;
}

@keyframes logout {
  0% {
    background: linear-gradient(90deg, #24dbff 0%, #ffb8ff 0%);
  }

  10% {
    background: linear-gradient(90deg, #24dbff 10%, #ffb8ff 0%);
  }

  20% {
    background: linear-gradient(90deg, #24dbff 20%, #ffb8ff 0%);
  }

  30% {
    background: linear-gradient(90deg, #24dbff 30%, #ffb8ff 0%);
  }

  40% {
    background: linear-gradient(90deg, #24dbff 40%, #ffb8ff 0%);
  }

  50% {
    background: linear-gradient(90deg, #24dbff 50%, #ffb8ff 0%);
  }

  60% {
    background: linear-gradient(90deg, #24dbff 60%, #ffb8ff 0%);
  }

  70% {
    background: linear-gradient(90deg, #24dbff 70%, #ffb8ff 0%);
  }

  80% {
    background: linear-gradient(90deg, #24dbff 80%, #ffb8ff 0%);
  }

  90% {
    background: linear-gradient(90deg, #24dbff 90%, #ffb8ff 0%);
  }

  100% {
    background: linear-gradient(90deg, #24dbff 100%, #ffb8ff 0%);
  }
}

#banner > img {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
}

#banner {
  height: 250px;
}

#bottom-bar {
  height: 80px;
  background-color: var(--header-color);
  margin-bottom: 100px;
}

.header-icons {
  float: right;
  margin-right: 30px;
}

.header-icons img {
  height: 50px;
  margin-right: 19px;
  margin-top: 20px;
  mix-blend-mode: darken;
  transition: ease-in-out 0.3s;
}

#platyweb-logo {
  height: 80px;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
}

#platyweb-logo:hover {
  transform: scale(1.5);
}

#header-logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
}

.header-icons img:hover {
  transform: scale(1.5);
}

.search-box {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.search-box input {
  display: block;
  padding: 5px 10px;
  font-size: 1.1rem;
  border: none;
  background-color: white;
  border-radius: 20px;
  width: 85%;

  height: 30px;
  max-width: 800px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* === FOOTER ===*/
#footer-default {
  margin-top: 150px;
  background-color: var(--theme-color-2);
  color: var(--font-color-2);
}

#footer-default img {
  display: block;
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 250px;
  border-radius: 10px;
}

#footer-default a {
  color: var(--font-color-2);
}

#footer-default a:hover {
  color: var(--theme-color-4);
}

.footer-links > a {
  font-size: 1.5rem;
  margin-top: 20px;
  display: block;
}

@media (max-width: 1368px) {
  #footer-default .col-1-5,
  #footer-default .col-0-5,
  #footer-default .col-1 {
    width: 100%;
  }
  #footer-default img {
    margin: 0 auto;
    max-width: 400px;
  }
  .footer-links {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .footer-links > a {
    text-align: center;
    font-size: 1.5rem;
  }
}

.footer-links > a {
  font-size: 1.5rem;
  margin-top: 20px;
  display: block;
}

@media (max-width: 1368px) {
  #footer-default .col-1-5,
  #footer-default .col-0-5,
  #footer-default .col-1 {
    width: 100%;
  }

  #footer-default img {
    margin: 0 auto;
    max-width: 400px;
  }

  .footer-links {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .footer-links > a {
    text-align: center;
    font-size: 1.5rem;
  }
}

/* === MAIN-PAGE === */
#kategorien > .container > .row {
  margin-left: auto;
  margin-right: auto;
}

.row > .kategorie {
  width: 20%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 40px;
  background-color: var(--cancer-color);
  border: 4px solid var(--border-color);
  border-radius: 35px;
}

#kategorien-und-produkte img {
  mix-blend-mode: darken;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
  border-radius: 5px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  transition: 0.2s ease;
}

#kategorien-und-produkte img:hover {
  width: 90%;
}

#kategorien-und-produkte p {
  text-align: center;
}

#kategorien-und-produkte h2 {
  text-align: center;
  color: var(--font-color);
}

#bestseller-headline {
  margin: 100px auto;
  width: 70%;
  max-width: 800px;
  color: var(--theme-color-3);
  border-radius: 15px;
  border: 4px solid var(--border-color);
  font-size: 3rem;
}

.row > .produkt {
  border: 3px solid var(--border-color);
  width: 20%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 40px;
  background-color: var(--theme-color-4);
  border-radius: 15px;
}

/* === LOGIN-PAGE === */

#login-form {
  text-align: center;
  border: 2px solid var(--font-color-3);
  border-radius: 5px;
  width: 80%;
  max-width: 750px;
  min-width: 250px;
  margin: 50px auto;
  position: relative;
  padding: 10px;
  background-color: var(--theme-color-4);
}

#login-page-link:hover {
  color: var(--font-color-1);
}

#login-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media(max-width: 1368px) {
	#login-footer {
		position: relative;
	}
}

.login-button {
  margin: 10px auto 10px auto;
  border: 1px solid var(--theme-color-2);
  width: 65%;
  text-align: center;
  max-width: 700px;
  height: 35px;
}

#login-form > form > input {
  width: 60%;
  max-width: 650px;
  min-width: 250px;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 2px solid grey;
  padding: 3px;
  border-radius: 3px;
}

/* === REGISTRIERUNGS PAGE === */
#register-form {
  width: 50%;
  background-color: var(--theme-color-5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  padding: 20px;
  border: 2px solid black;
}

#register-form .col-3,
#register-form .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}

#register-form .row:nth-of-type(even) {
  margin-bottom: 30px;
}

#register-form select {
  font-size: 1.1rem;
  height: 30px !important;
  border: 2px solid var(--font-color);
}

#register-form input,
#register-form select {
  height: 20px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 70%;
}

#register-form label {
  text-align: center;
  display: block;
  margin-bottom: 7px;
}

#register-form .trennlinie {
  width: 100%;
  border: 2px solid black;
}

@media (max-width: 1024px) {
  #register-form {
    width: 80%;
  }
  #register-form input,
  #register-form select {
    width: 85%;
  }
}

/* === Verify-PAGE === */
#verify-page {
	width: 80%;
	max-width: 1200px;
}
#verify-button {
  width: 60%;
  max-width: 500px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}
#verify-message {
	font-size: 1.2rem;
	text-align: center;
}

/* === PRODUKT-PAGE === */
#eigenschafts-tabelle {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 80%;
  border-collapse: collapse;
}

#eigenschafts-tabelle tr {
  border-bottom: 2px solid var(--border-color);
}

#eigenschafts-tabelle td {
  padding-top: 1.5rem;
}

#produkt-bild {
  width: 70%;
  height: auto;
  float: left;
  margin-left: 10%;
  border-radius: 10px;
}

#preis-section {
  padding: 10px;
}

#bestell-section {
  border: 2px solid var(--border-color);
}

#bestell-form p,
#bestell-form label {
  width: 60%;
  padding-left: 10%;
  margin-bottom: 50px;
  margin-top: 10px;
}

#cart-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 5px;
  width: 65%;
  height: 40px;
  background-color: yellow;
  color: var(--font-color);
  border: 2px solid gainsboro;
}

#cart-button:hover {
  background-color: greenyellow;
}

#cart-button:disabled {
  background-color: whitesmoke;
  cursor: default;
}

/* === KONTO-PAGE === */

.konto-page-button {
  margin-bottom: 50px;
  text-align: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--theme-color-3);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.konto-page-button:hover {
  background-color: var(--theme-color-5);
  color: var(--theme-color-2);
}

.editable-field:hover {
  cursor: pointer;
}

.in-edit-input {
  display: block;
  font-size: 16px;
}

#kontopage-personal-data {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#kontopage-personal-data p,
#kontopage-personal-data input,
#kontopage-personal-data select {
  display: block;
  background-color: unset;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 15px 0;
  width: 60%;
  margin: 0 auto 15px;
  transition: 0.2s ease-in-out;
}

#kontopage-personal-data label {
  display: block;
  text-align: center;
}

#password-change:hover {
  cursor: pointer;
}

.lightbox {
  background-color: var(--theme-color-1);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
}

#lightbox__overlay {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #000 !important;
  opacity: 0.8;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#lightbox__overlay-container {
  position: absolute;
  inset: 0;
  z-index: 3;
}

#password-change {
  text-decoration: none;
}

#password-change:link,
#theme-change:link {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:visited,
#theme-change:visited {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:hover,
#theme-change:hover {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:active,
#theme-change:active {
  color: var(--theme-color-2);
  text-decoration: none;
}

#lightbox__overlay-password-change {
  display: block;
  width: 80%;
  max-width: 600px;
  height: 420px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#password-change-form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 450px;
  padding: 15px;
}

#password-change-form h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#password-change-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 1.3rem;
  border-radius: 3px;
}

#password-change-form label {
  font-size: 1.1rem;
  display: block;
  margin-left: 16%;
}

#password-change-form button {
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

/* === ORDER HISTORY ===*/

#order-history h1 {
  margin-top: 0;
  padding: 30px;
  border: 2px solid var(--font-color);
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#order-filter {
  width: 60%;
  max-width: 750px;
  margin: 0 auto;
}

#order-search {
  width: 80%;
  height: 35px;
  font-size: 1.1rem;
  border-radius: 12px;
  padding-left: 8px;
  max-width: 500px;
  border: 2px solid var(--border-color);
}

#history-headline {
  border-radius: 5px;
}

#order-filter-button {
  max-width: 250px;
  width: 20%;
  height: 30px;
  border-radius: 0;
  display: inline-block;
  margin: 0;
}

#orders {
  margin-top: 30px;
}

#orders p {
  display: inline-block;
  margin: 0;
  margin-left: 40px;
}

#orders .col-1-5 {
  padding-bottom: 5px;
}

.order-dropdown-closed p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  height: 15px;
  transition: 0.4s ease-in-out;
}

.order-dropdown-open {
  border: 3px solid var(--font-color);
  border-radius: 35px;
  margin: 30px 10px;
  transition: 0.4s ease-in-out;
}

#order-refund {
  height: 35px;
  width: 250px;
  margin-top: -1rem;
}

#orders img {
  border-radius: 10px;
  mix-blend-mode: darken;
  margin-left: 40px;
  width: 270px;
}

.order-card {
  border: 3px solid var(--font-color);
  width: 90%;
  max-width: 1600px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-bottom: 70px;
  background-color: var(--theme-color-5);
}

.article-refund {
  height: 35px;
  width: 250px;
  margin-bottom: -5px;
  margin-left: auto;
  margin-right: auto;
}

/* === KONTO-PAGE === */

.konto-page-button {
  margin-bottom: 50px;
  text-align: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--theme-color-3);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.konto-page-button:hover {
  background-color: var(--theme-color-5);
  color: var(--theme-color-2);
}

.editable-field:hover {
  cursor: pointer;
}

.in-edit-input {
  display: block;
  font-size: 16px;
}

#kontopage-personal-data {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#kontopage-personal-data p,
#kontopage-personal-data input,
#kontopage-personal-data select {
  display: block;
  background-color: unset;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 15px 0;
  width: 60%;
  margin: 0 auto 15px;
  transition: 0.2s ease-in-out;
}

#kontopage-personal-data label {
  display: block;
  text-align: center;
}

#password-change:hover {
  cursor: pointer;
}

.lightbox {
  background-color: var(--theme-color-1);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
}

#lightbox__overlay {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #000 !important;
  opacity: 0.8;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#lightbox__overlay-container {
  position: absolute;
  inset: 0;
  z-index: 3;
}

#password-change {
  text-decoration: none;
}

#password-change:link,
#theme-change:link {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:visited,
#theme-change:visited {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:hover,
#theme-change:hover {
  color: var(--theme-color-2);
  text-decoration: none;
}

#password-change:active,
#theme-change:active {
  color: var(--theme-color-2);
  text-decoration: none;
}

#lightbox__overlay-password-change {
  display: block;
  width: 80%;
  max-width: 600px;
  height: 420px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#password-change-form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 450px;
  padding: 15px;
}

#password-change-form h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#password-change-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 1.3rem;
  border-radius: 3px;
}

#password-change-form label {
  font-size: 1.1rem;
  display: block;
  margin-left: 16%;
}

.arrow {
  border: solid var(--font-color-3);
  border-width: 0 8px 8px 0;
  padding: 5px;
  display: inline-block;
  transition: 0.4s ease-in-out;
}

#orders .order-dropdown-arrow {
  float: right;
  display: block;
  margin-right: 15px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#password-change-form button {
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

/* === GRID-SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.col-0-5 {
  width: 8.333%;
}

.col-1 {
  width: 16.666%;
}

.col-1-5 {
  width: 25%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.666%;
}

.col-5 {
  width: 83.333%;
}

.col-6 {
  width: 100%;
}

/* ====== Shopping Cart ===== */

#sc-overview-switch h3 {
  display: inline-block;
  width: calc(99% / 2);
  text-align: center;
  height: 50px;
  padding-top: 25px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  margin: 0;
}

#sc-overview-switch h3:hover {
  background-color: rgba(128, 128, 128, 0.911);
}

#sc-overview-switch {
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sc-box-between-endprice-and-productcard > input {
  height: 40px;
}

.sc-mengen-div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#warenkorb-preis-information p {
  display: inline;
  margin-left: 5px;
  font-size: 1.3rem;
}

.sc-price-information {
  float: right;
}

#sc-gutschein {
  border-radius: 5px;
  font-size: 1.3rem;
}

#sc-mwst-box > p {
  display: inline;
  margin-left: 5px;
}

.sc-price-safed-box {
  border: 2px solid var(--border-color);
  height: 2.5vh;
}

#warenkorb-karten-ueberschriften p {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

#buy-more,
#zur-kasse {
  height: 38px;
  width: 70%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.sc-price > p {
  text-align: center;
  font-size: 1.5rem;
}

.sc-product-cart-img {
  display: block;
  width: 70%;
  height: auto;
  margin: 0;
  border-radius: 10px;
  mix-blend-mode: darken;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
}

.sc-product-cart-img:hover {
  width: 75%;
}

.sc-bt-remove-product {
  background-color: var(--cancer-color);
  border-radius: 10px;
  display: block;
  transition: 0.4s ease;
  /* # TODO:Responsive Reseizing */
  color: #0c0b0c;
  width: 50px;
  height: 50px;
  max-width: 50px;
}

.bi-trash-fill {
  margin: -1rem;
  padding: 1rem;
  overflow-x: visible;
  transition: 0.4s ease;
}

.bi-trash-fill:hover {
  color: white;
}

.sc-bt-remove-product:hover {
  background-color: var(--theme-color-3);
}

.sc-nav-container {
  display: flex;
  margin-top: 20px;
}

/* ====== Product Page ====== */

.pp-price-before {
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 1.3rem;
}

#pp-zw {
  text-align: left;
}

.sc-mwst-box > p {
  display: inline;
}

#pp-price-mwst {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

/* ====== FLASH Green ====== */

.flash_green {
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 350px;
  padding: 20px 25px 20px 85px;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--font-color-2);
  border: 2px solid var(--theme-color-2);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.flash__body_g {
  position: relative;
  margin-left: 1vw;
}

.flash__icon_g {
  position: absolute;
  top: 50%;
  left: 0vw;
  width: 1.8em;
  height: 100%;
  padding: 0 0.4em;
  background-color: #66847c;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  transform: translate(0, -50%);
}

.flash__icon_g .icon {
  position: absolute;
  top: 50%;
  left: 0.8em;
  transform: translate(0, -50%);
}

/* ====== FLASH Red ====== */

.flash_red {
  pointer-events: none;
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 350px;
  padding: 20px 25px 20px 85px;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--font-color-2);
  border: 2px solid var(--theme-color-2);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.flash__body_r {
  position: relative;
  margin-left: 1vw;
}

.flash__icon_r {
  position: absolute;
  top: 50%;
  left: 0vw;
  width: 1.8em;
  height: 100%;
  padding: 0 0.4em;
  background-color: #834a4a;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  transform: translate(0, -50%);
}

.flash__icon_r .icon {
  position: absolute;
  top: 50%;
  left: 0.8em;
  transform: translate(0, -50%);
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* === Authentication === */

#code-login-form {
  text-align: center;
  border: 2px solid var(--font-color-3);
  border-radius: 5px;
  width: 80%;
  max-width: 750px;
  min-width: 250px;
  margin: 50px auto;
  position: relative;
  background-color: var(--theme-color-4);
  height: 140px;
}

#code {
  margin-bottom: 20px;
  padding: 4px;
  border-radius: 7px;
  width: 200px;
  outline: 0px var(--font-color);
}

.access-code-button {
  height: 25px;
}

.access-code-button:hover,
.access-code-button:focus {
  background-color: var(--theme-color-3);
  color: var(--font-color);
}

/* ==== Animation for Loader =====*/
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* ==== Animations for flash ====== */

@-webkit-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  80% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

@-moz-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  80% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

@-o-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  80% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

@keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }

  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  80% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

.animate--drop-in-fade-out {
  -webkit-animation: drop-in-fade-out 3.5s 0.4s
    cubic-bezier(0.32, 1.75, 0.65, 0.91);
  -moz-animation: drop-in-fade-out 3.5s 0.4s
    cubic-bezier(0.32, 1.75, 0.65, 0.91);
  -ms-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(0.32, 1.75, 0.65, 0.91);
  -o-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(0.32, 1.75, 0.65, 0.91);
  animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(0.32, 1.75, 0.65, 0.91);
}
