/* === GENERELLE-EINSTELLUNGEN === */

:root {
--theme-color-1: #fbeefb; /* Hintergrund */
--theme-color-2: #525252; /* Nav1 und Footer Hintergrund */
--theme-color-3: #f3d5f3; /* Nav2 und Überschriften */
--theme-color-4: #ffcffc; /* Divs (e.g. Produkt und Kategorie auf Main Page) */
--theme-color-5: #ffe6fc; /* Andere Divs */
--theme-color-6: #fcf4f4; /* Hintergrundfarbe für Input Felder*/
--font-color: #0c0b0c;    /* Schriftfarbe */
--font-color-2: #f0f0f0;  /* Schriftfarbe (Header und Footer) */
--font-color-3: #003003;  /* Schriftfarbe für große Überschriften (Komplementär)*/
}

html {
    font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Schriftart muss abgesprochen werden */
    margin: 0 !important;
    overflow-x: hidden;
    background-color: var(--theme-color-1);
    box-sizing: border-box;
}

p {
    color: var(--font-color);
}

button {
    background-color: #ffb8ff;
    color: var(--font-color-2);
    border-radius: 10px;
    display: block;
	transition: ease-in-out .2s;

}

button:hover {
	transition: ease-in-out .2s;
	cursor:pointer;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
	transition: ease-in-out .2s;
}

a:hover {
	transition: ease-in-out .2s;
	color: var(--theme-color-4);
}

.trennlinie {
    border-bottom: 2px solid black
}

/* === HEADER === */

header > .container {
	width: 100%
}

header .col-6 {
	padding: 0;
}

#top-bar{
	height: 80px;
	width: 100%;
	background-color: #6e6e6e;
}

.header-icons {
	float: right;
	margin-right: 30px
}

.header-icons img {
	height: 50px;
	margin: 18px;
	transition: ease-in-out .3s;

}

.header-icons img:hover {
	transform: scale(1.1);
	height: 60px;
	margin-top: 0px;
}

#banner {
	height: 250px;
}

#banner > img {
	height: 250px;
	width: 100%;
	overflow-x: hidden;
}

#bottom-bar {
	height: 50px;
	background-color: #F3D5F3;
    margin-bottom: 100px
}

.search-box {
	margin-left: auto;
    margin-right: auto;
	padding-top: 12px;
}

.search-box input{
	display: block;
	padding: 5px;
	border: none;
	background-color: white;
	border-radius: 5px;
	width: 85%;
	max-width: 800px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* === FOOTER ===*/
#footer-default
{
    margin-top: 150px;
    background-color: var(--theme-color-2);
    color: var(--font-color-2);
}
#footer-default img {
    margin-top:52px;
}
#footer-default a 
{
    color:var(--font-color-2);
}

#footer-default a:hover {
	color: var(--theme-color-4);
}

.footer-links{
    margin-top: 25px;
    display: block;
}

#contact
{
margin-top: 50px;
}

#login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* === MAIN-PAGE === */
#kategorien > .container > .row {
    margin-left: auto;
    margin-right: auto;
}
.row > .kategorie {
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    background-color: var(--theme-color-4);
    border: 2px solid black;
    border-radius: 35px;
}

#kategorien-und-produkte img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#kategorien-und-produkte p {
    text-align: center;
}

#kategorien-und-produkte h2 {
    text-align: center;
}

#bestseller-headline {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--theme-color-3);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2.7rem;
}

.row > .produkt {
    border: 2px solid black;
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    background-color: var(--theme-color-4);
    border: 2px solid black;
    border-radius: 5px;
}

/* === LOGIN-PAGE === */

.login-div{
	text-align: center;
	border: 2px solid var(--font-color-3);
	border-radius: 5px;
	width: 80%;
	max-width: 750px;
	min-width: 250px;
	margin: 0 auto;

	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	padding: 10px;

	background-color: var(--theme-color-4);
}

#login-page-link:hover{
	color: var(--font-color-1);
}


#login-button{
	margin: 10px auto 10px auto;
	border: 1px solid var(--theme-color-2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 65%;
}

#login-button:hover {
	background-color: #dea2de;
}

#login-form{
	margin: 0 auto;
}

#login-form > input{
	width: 60%;
	max-width: 650px;
	min-width: 250px;
	margin-top: 2%;
	margin-bottom: 5%;
	border: 2px solid grey;
	padding: 3px;
	border-radius: 3px;
}

/* === PRODUKT-PAGE === */
#eigenschafts-tabelle {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 80%;
    border-collapse: collapse;
}

#eigenschafts-tabelle tr {
    border-bottom: 2px solid black;
}

#eigenschafts-tabelle td {
padding-top: 1.5rem;
}

#produkt-bild {
    width: 70%;
    height: auto;
    float: left;
    margin-left: 10%;
	border-radius: 10px;
}

#preis-section {
    padding: 10px
}
#preis-section p {
    font-size: 1.3rem;
}

#bestell-section {
    border: 2px solid black;
}
#bestell-form p, #bestell-form label {
    width: 60%;
    padding-left: 10%;
    margin-bottom: 50px;
    margin-top: 10px
}

#cart-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top:50px;
    border-radius: 5px;
    width: 65%;
    height: 40px;
    background-color: yellow;
    color: var(--font-color);
    border: 2px solid gainsboro
}

#cart-button:hover {
	background-color: greenyellow;
}
#cart-button:disabled {
	background-color: whitesmoke;
	cursor: default;
}

/* === KONTO-PAGE === */
.box1 {
	border: 2px solid black;
	margin-bottom: 30px;
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

.button1 {
	margin-bottom: 50px;
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffb8ff;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

.boxlinks {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: 40px;
}

.boxrechts {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 20%;
	margin-left: 40px;
	margin-right: auto;
}

.boxfull {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 44.5%;
	margin-left: auto;
	margin-right: auto;
}

.boxgeb {
	border: 2px solid black;
	margin-bottom: 25px;
	text-align: center;
	width: 20%;
	margin-left: 525px;
}

.boxstraße {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 45%;
	margin-left: 525px;
	margin-right: 40px;
}

.boxstrnr {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 17%;
	margin-left: 40px;
	margin-right: 525px;
}

.boxbic {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 20%;
	margin-left: 525px;
	margin-right: 40px;
}

.dropdown {
	width: 387px;
	height: 53px;
	margin-left: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.headline {
	margin-bottom: 10px;
	margin-left: 525px;
}

.password {
	margin-bottom: 10px;
	margin-left: 525px;
}

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.col-0-5
{
    width: 8.333%;
}

.col-1 {
    width: 16.666%
}

.col-1-5{
    width: 25%;
}

.col-2 {
    width: 33.333%
}

.col-3 {
    width: 50%
}

.col-4 {
    width: 66.666%
}

.col-6 {
    width: 100%
}

/* ====== FLASH Green ====== */

.flash_green {
	pointer-events: none;
	display: block;
	position: fixed;
	top: 25px;
	right: 25px;
	width: 350px;
	padding: 20px 25px 20px 85px;
	font-size: 16px;
	font-weight: 400;
	color: var(--font-color);
	background-color: var(--font-color-2);
	border: 2px solid var(--theme-color-2);;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	opacity: 0;
  }

  .flash__body_g {
	position: relative;
	margin-left: 1vw;
  }
  .flash__icon_g {
	position: absolute;
	top: 50%;
	left: 0vw;
	width: 1.8em;
	height: 100%;
	padding: 0 0.4em;
	background-color: #66847C;
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	transform: translate(0, -50%);
  }

  .flash__icon_g .icon {
	position: absolute;
	top: 50%;
	left:0.8em;
	transform: translate(0, -50%);
  }

  /* ====== FLASH Red ====== */

.flash_red {
	pointer-events: none;
	display: block;
	position: fixed;
	top: 25px;
	right: 25px;
	width: 350px;
	padding: 20px 25px 20px 85px;
	font-size: 16px;
	font-weight: 400;
	color: var(--font-color);
	background-color: var(--font-color-2);
	border: 2px solid var(--theme-color-2);;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	opacity: 0;
  }

  .flash__body_r {
	position: relative;
	margin-left: 1vw;
  }
  .flash__icon_r {
	position: absolute;
	top: 50%;
	left: 0vw;
	width: 1.8em;
	height: 100%;
	padding: 0 0.4em;
	background-color: #834a4a;
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	transform: translate(0, -50%);
  }

  .flash__icon_r .icon {
	position: absolute;
	top: 50%;
	left:0.8em;
	transform: translate(0, -50%);
  }

  /* ==== Animations for flash ====== */

  @-webkit-keyframes drop-in-fade-out {
	0% {
	  opacity: 0;
	  visibility: visible;
	  -webkit-transform: translate3d(0, -200%, 0);
	  -moz-transform: translate3d(0, -200%, 0);
	  -ms-transform: translate3d(0, -200%, 0);
	  -o-transform: translate3d(0, -200%, 0);
	  transform: translate3d(0, -200%, 0);
	}
	12% {
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	20% {
	  opacity: 1;
	}
	70% {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	80% {
	  opacity: 0;
	}
	100% {
	  visibility: hidden;
	  -webkit-transform: translate3d(75%, 0, 0);
	  -moz-transform: translate3d(75%, 0, 0);
	  -ms-transform: translate3d(75%, 0, 0);
	  -o-transform: translate3d(75%, 0, 0);
	  transform: translate3d(25%, 0, 0);
	}
  }
  @-moz-keyframes drop-in-fade-out {
	0% {
	  opacity: 0;
	  visibility: visible;
	  -webkit-transform: translate3d(0, -200%, 0);
	  -moz-transform: translate3d(0, -200%, 0);
	  -ms-transform: translate3d(0, -200%, 0);
	  -o-transform: translate3d(0, -200%, 0);
	  transform: translate3d(0, -200%, 0);
	}
	12% {
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	20% {
	  opacity: 1;
	}
	70% {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	80% {
	  opacity: 0;
	}
	100% {
	  visibility: hidden;
	  -webkit-transform: translate3d(75%, 0, 0);
	  -moz-transform: translate3d(75%, 0, 0);
	  -ms-transform: translate3d(75%, 0, 0);
	  -o-transform: translate3d(75%, 0, 0);
	  transform: translate3d(25%, 0, 0);
	}
  }
  @-o-keyframes drop-in-fade-out {
	0% {
	  opacity: 0;
	  visibility: visible;
	  -webkit-transform: translate3d(0, -200%, 0);
	  -moz-transform: translate3d(0, -200%, 0);
	  -ms-transform: translate3d(0, -200%, 0);
	  -o-transform: translate3d(0, -200%, 0);
	  transform: translate3d(0, -200%, 0);
	}
	12% {
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	20% {
	  opacity: 1;
	}
	70% {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	80% {
	  opacity: 0;
	}
	100% {
	  visibility: hidden;
	  -webkit-transform: translate3d(75%, 0, 0);
	  -moz-transform: translate3d(75%, 0, 0);
	  -ms-transform: translate3d(75%, 0, 0);
	  -o-transform: translate3d(75%, 0, 0);
	  transform: translate3d(25%, 0, 0);
	}
  }
  @keyframes drop-in-fade-out {
	0% {
	  opacity: 0;
	  visibility: visible;
	  -webkit-transform: translate3d(0, -200%, 0);
	  -moz-transform: translate3d(0, -200%, 0);
	  -ms-transform: translate3d(0, -200%, 0);
	  -o-transform: translate3d(0, -200%, 0);
	  transform: translate3d(0, -200%, 0);
	}
	12% {
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	20% {
	  opacity: 1;
	}
	70% {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	80% {
	  opacity: 0;
	}
	100% {
	  visibility: hidden;
	  -webkit-transform: translate3d(75%, 0, 0);
	  -moz-transform: translate3d(75%, 0, 0);
	  -ms-transform: translate3d(75%, 0, 0);
	  -o-transform: translate3d(75%, 0, 0);
	  transform: translate3d(25%, 0, 0);
	}
  }
  .animate--drop-in-fade-out {
	-webkit-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
	-moz-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
	-ms-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
	-o-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
	animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  }
