/* === Generelle Einstellungen === */

:root {
--theme-color-1: #fbeefb; /* Hintergrund */
--theme-color-2: #525252; /* Nav1 und Footer Hintergrund */
--theme-color-3: #f3d5f3; /* Nav2 und Überschriften */
--theme-color-4: #ffcffc; /* Divs (e.g. Produkt und Kategorie auf Main Page) */
--theme-color-5: #ffe6fc; /* Andere Divs */
--theme-color-6: #fcf4f4; /* Hintergrundfarbe für Input Felder*/
--font-color: #0c0b0c; /* Schriftfarbe */
--font-color-2: #f0f0f0; /* Schriftfarbe (Header und Footer) */
--font-color-3: #003003; /* Schriftfarbe für große Überschriften (Komplementär)*/
}

html {
    font-size: 16px;
}

body {
    margin: 0 !important;
    overflow-x: hidden;
    background-color: var(--theme-color-1);
    box-sizing: border-box;
}

p {
    color: var(--font-color); 
}

button {
    background-color: #ffb8ff;
    color: var(var(--font-color-2));
    border-radius: 10px;
    display: block;
}
